<head>
    <title>Dead Streaming -- Stream in Progress</title>
    <script type="text/javascript"
        src="{{ url_for('static', filename = 'live.js') }}" >
    </script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
</head>

<body>
    Enter Livestream Title: <input type="text" id="stream_title"></input>
    <button onclick="stream()">Start!</button>
    <button onclick="stop_stream()">Stop!</button>

    <video id="live" width="640" height="360" controls>
        Your browser does not support the video tag.
    </video>
</body
